<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/welcome}">
<head>
   <meta th:include="~{segment/welcome/semeta::meta}" th:remove="tag"/>
   <title th:text="${title}">Title</title>
   <link th:include="~{segment/welcome/header::link}" th:remove="tag"/>
   <style th:include="~{segment/welcome/styles::hard}"></style>
</head>
<body>
   <div layout:fragment="viewport">
   </div>
</body>
</html>
