
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
   <div th:fragment="body">
   <h1>Shahed, Inc</h1>
   <div class="content">
      <div class="content-middle">
         <p>This page is used to test the proper operation of the Apache Tomcat Embedded Servlet Container after it has been installed. If you can read this page, it means that the Apache Tomcat Embedded Servlet Container installed at this site is working properly.</p>
       </div>
       <hr />
       <div class="content-columns">
           <div class="content-column-left">
               <h2>GraphiQL:</h2>
               <pre th:text="${graphiql}">
               </pre>
               <p>For more information please visit the <a href="https://shahed.biz"><strong>shahed.biz</strong></a>. Please find the documentation in <a href="https://cdn.shahed.biz"><strong>cdn.shahed.biz</strong></a>.</p>
               <hr />
           </div>
           <div class="content-column-right">
               <h2>GraphQL:</h2>
               <pre th:text="${graphql}">
               </pre>
               <p class="copyright"><strong>&copy; Copyright 2020 Shahed |Developed By Shahed, Inc</strong></p>
               <div align="right"><a href="https://shahed.biz" target="_blank"><img th:src="@{/static/logos/shahed-logo.png}" alt="Powered by Shahed, Inc" title="Powered by Shahed, Inc" border="0"></a></div>
           </div>
       </div>
   </div>
   </div>
</body>
</html>